.trailer-btn{
    width: 15%;
    padding: 10px;
    /* float: right; */
    position: absolute;
    right: 36px;
    bottom: 36px;
    border: 1px solid white;
    background: transparent;
    color: white;
    font-family: 'Cormorant Unicase';
  }