.trailer-btn{
    width: 15%;
    padding: 10px;
    /* float: right; */
    position: absolute;
    right: 36px;
    bottom: 36px;
    border: 1px solid white;
    background: transparent;
    color: white;
    font-family: 'Cormorant Unicase';
  }

  @media (max-width:480px){
    .trailer-btn{
      width: 77%;
      padding: 10px;
      position: relative;
      bottom: -80px;
      right: -39px;
      font-size: 20px;
    }
  }