body {
  margin: 0;
  background: black;
}
.offline-mode{
  background-color: #e1e85bd4;
  padding: 18px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.offline-mode h3{
  font-size: 20px;
  display: inline;
  font-family: 'Raleway';
}
.offline-mode img{
  width: 30px;
  margin-left: 9px;
  margin-top: -6px;
}
@media screen and (max-width: 500px) {
#root{
  overflow: hidden;
}
}